# NPM configuration for Railway deployment
python=/usr/bin/python3
node_gyp=$(npm config get prefix)/lib/node_modules/npm/node_modules/node-gyp/bin/node-gyp.js
sqlite3_binary_host_mirror=https://foxgis.oss-cn-shanghai.aliyuncs.com/
sqlite3_binary_site=https://foxgis.oss-cn-shanghai.aliyuncs.com/
